@charset 'utf-8';
html, body, div, p, span, ul, ol, li, nav, h1, h2, h3, section {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
li { list-style: none;}
a {
	text-decoration: none;
	color: #111;
}
section h2 {
	display: none;
}